{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Alumni Meet MMIT</title>
  <link rel="shortcut icon" type="image/x-icon" href="{% static '/images/logo.png' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
  <header>
    <div class="logo"><a href="#">Alumni Meet</a></div>
    <div class="text">
      <p>Mahamaya IT Poytechnic Maharajganj</p>
      <p id="address">Dhanewa Dhanei, District Jail Road, Maharajganj (UP) - 273303</p>
    </div>
    <div class="profile"><a href="#">Profile</a></div>
  </header>
<nav >
  <ul>
    <li><a class="nav-link" href="/">Home</a></li>
    <li><a class="nav-link" href="/about/">About Us</a></li>
    <li><a class="nav-link" href="/events/">Events</a></li>
    <li><a class="nav-link" href="/news/">News</a></li>
    <li><a class="nav-link" href="/gallery/">Gallery</a></li>
    <li><a class="nav-link" href="/conatct-us/">Contact Us</a></li>
  </ul>
</nav>

  <div class="head-container">
    <div class="heading">
      <h1>Welcome To Our Alumni Meet Portal</h1>
    </div>
    <div class="para">
      <p>
        <strong>
          "Connecting Generations, Building Futures –</strong> Welcome to the Mahamaya IT Polytechnic Alumni Network!"
      </p>
    </div>
    <div class="btn"><a href="#">Explore College</a></div>
  </div>
  <main>
    <section class="about-mmit">
      <h2>About Mahamaya IT Polytechnic Maharajganj</h2>
      <p>
        Established with a vision to empower youth through quality technical education,
        Mahamaya IT Polytechnic, Maharajganj, is a beacon of knowledge and innovation in Uttar Pradesh.
        Located amidst serene surroundings, the institute offers diploma programs in various engineering disciplines,
        designed to bridge the gap between academia and industry. With state-of-the-art facilities, experienced faculty,
        and a strong commitment to excellence, MMIT provides an ideal platform for students to grow academically, professionally,
        and personally. Our alumni network spans across industries and geographies, contributing significantly to
        societal growth and technological advancements.
      </p>
      <p>
        Join us and become a part of a legacy that nurtures talent and builds the foundation for a prosperous future.
      </p>
    </section>
  </main>

  <footer>
    <p>&copy; Copyright © 2025 - All Rights Reserved - MMIT Polytechnic - Maharajganj(UP).</p>
  </footer>


  <script src="{% static 'scripts/min.js' %}"></script>
</body>

</html>