{% extends 'master.html' %}

{% load static %}

{% block content %}

<main class="gallery-container">
   <section class="gallery-section">
   <img src="{% static '/images/mmit_event.jpeg' %}" alt="Gallery Image">
   <h3>MMIT EVENT</h3>
   <p>MMIT College proudly celebrates national events with great enthusiasm, fostering unity and patriotism among students. These celebrations include cultural performances, speeches, and activities that honor the rich heritage and values of our nation.</p>
 </section>
 <section class="gallery-section">
   <img src="{% static '/images/fresher_party.jpeg' %}" alt="Gallery Image">
   <h3>Fresher Party 2019</h3>
   <p>MMIT College warmly welcomes new students with a vibrant Fresher’s Party, filled with music, dance, and fun activities. It’s a joyful occasion that helps freshmen bond and start their college journey with excitement.</p>
 </section>
 <section class="gallery-section">
   <img src="{% static '/images/deekshant_samaroh.jpeg' %}" alt="Gallery Image">
   <h3>DEEKSHANT SAMAROH 2019-20</h3>
   <p>MMIT College organizes the Deekshant Samaroh with pride, celebrating the achievements of graduating students. This memorable event marks the beginning of their new journey, filled with aspirations and success.</p>
 </section>
 <section class="gallery-section">
   <img src="{% static '/images/farewell_party_principal_sir.jpeg' %}" alt="Gallery Image">
   <h3>FAREWELL PARTY OF PRINCIPAL SIR</h3>
   <p>MMIT Polytechnic Maharajganj recently held a heartfelt farewell for our esteemed Principal, celebrating their dedicated service and leadership. The event featured speeches and cultural performances, honoring their significant contributions to the institution. </p>
 </section>
  <section class="gallery-section">
   <img src="{% static '/images/Annual_games_mmit.jpeg' %}" alt="Gallery Image">
   <h3>ANNUAL GAMES 2023-24</h3>
   <p>MMIT College hosts Annual Games with great enthusiasm, promoting sportsmanship and teamwork among students. The event features various competitions, encouraging fitness, discipline, and a spirit of healthy competition.</p>
 </section>
 <section class="gallery-section">
   <img src="{% static '/images/award_distribution.jpg' %}" alt="Gallery Image">
   <h3>PRIZE DISTRIBUTION ANNUAL GAMES 2023-24</h3>
   <p>MMIT Polytechnic Maharajganj recently held the Prize Distribution Ceremony for the Annual Games 2023-24, celebrating the outstanding achievements of our student athletes. The event recognized and honored the champions who showcased exceptional talent and sportsmanship during the competitions. </p>
 </section>
  <section class="gallery-section">
   <img src="{% static '/images/swatcha_bharat.jpg' %}" alt="Gallery Image">
   <h3>Swachha Bharat Abhiyaan</h3>
   <p>MMIT Polytechnic Maharajganj actively participates in the Swachh Bharat Abhiyan, organizing cleanliness drives to promote hygiene and environmental awareness among students and staff. These initiatives aim to instill a sense of responsibility towards maintaining a clean and green campus, aligning with the national mission for a cleaner India. </p>
 </section>
  <section class="gallery-section">
    <img src="{% static '/images/tablet_distribution.jpg' %}" alt="Gallery Image">
    <h3>Tablet Distribution 2022</h3>
    <p>MMIT Polytechnic Maharajganj is committed to enhancing students' learning experiences through the distribution of tablets, ensuring access to digital resources and modern educational tools. This initiative aligns with our mission to provide quality technical education and foster technological proficiency among our students. </p>
  </section>
  <section class="gallery-section">
   <img src="{% static '/images/placement1.jpg' %}" alt="Gallery Image">
   <h3>Placement : Congratulations Students</h3>
   <p>Our Training and Placement Committee actively collaborates with leading companies to facilitate placement drives, providing students with opportunities to embark on successful careers.</p>
 </section>
   <section class="gallery-section">
    <img src="{% static '/images/placement2.jpg' %}" alt="Gallery Image">
    <h3>Placement : Congratulations Students</h3>
    <p>Recent collaborations include mega placement drives with esteemed organizations such as Subros, VVDN Technologies, and Tata Electronics, reflecting our dedication to student success and industry engagement.</p>
  </section>
</main>

{% endblock %}