{% extends 'master.html' %}

{% load static %}

{% block content %}

<main class="gallery-container">
   <section class="gallery-section">
   <img src="{% static '/images/mmit_event.jpeg' %}" alt="Gallery Image">
   <h3>MMIT EVENT</h3>
   <p>Short description about the image.</p>
 </section>
 <section class="gallery-section">
   <img src="{% static '/images/fresher_party.jpeg' %}" alt="Gallery Image">
   <h3>Fresher Party 2019</h3>
   <p>Short description about the image.</p>
 </section>
 <section class="gallery-section">
   <img src="{% static '/images/deekshant_samaroh.jpeg' %}" alt="Gallery Image">
   <h3>DEEKSHANT SAMAROH 2019-20</h3>
   <p>Short description about the image.</p>
 </section>
 <section class="gallery-section">
   <img src="{% static '/images/farewell_party_principal_sir.jpeg' %}" alt="Gallery Image">
   <h3>FAREWELL PARTY OF PRINCIPAL SIR</h3>
   <p>Short description about the image.</p>
 </section>
</main>

{% endblock %}