{% extends 'master.html' %}

{% block title %}
Log In
{% endblock %}

{% block content %}

      <!-- Login Form -->
      <div class="contact-form loginForm">
        <p class="messageBox"></p>
        <h2 class="text-center">Login</h2>
        <form method="POST" class="userForm loginForm" action="/accounts/login/">
          {% csrf_token %}
          <input type="email" id="login_email" name="login_email" placeholder="Email" required>
          <input type="password" id="login_password" name="login_password" placeholder="Password" required>
          <button type="submit" class="submit-btn">Submit</button>
          <hr />
          <a href="#" class="underline resetPassword">Forgot Password?</a>
          <span class="underline">Don't have an account? <a href="/register/" class="newAccount">Create Here</a></span>
        </form>
      </div>
      
      
      {% endblock %}