{% extends 'master.html' %}

{% load static %}

{% block content %}


<div class="container">
  <div class="user-box">
    <div class="profileheader">
      <button>Edit</button>
      <a href="#">log out</a>
      <button>X</button>
    </div>
    <div class="profile-container">
      <img src="{% static 'images/user.jpg' %}" alt="user photo">
      <h2>User</h2>
    </div>
  </div>
 <h3 class="profileh3">User Details</h3>
  <div class="user-details">
   
    <table>
      <thead>
        <h4>About User</h4>
      </thead>
      <tbody>
      <tr>
        <td>Name:</td>
        <td>User</td>
      </tr>
      <tr>
        <td>Email:</td>
        <td>user@gmail.com</td>
      </tr>
      <tr>
        <td>Mob.</td>
        <td>00-000-000-00</td>
      </tr>
      <tr>
        <td>Address:</td>
        <td>
          <address>
        Mahamaya IT Poytechnic Maharajganj <br />Skill - 1
Dhanewa Dhanei, District Jail Road, Maharajganj (UP) Skill Name- 273303  
        </address>
        </td>
      </tr>
      </tbody>
    </table>
   <div class="skills-section">
  <h4 class="profileh4">Skills</h4>
  <ul>
    <li>Skill - 1: Skill Name</li>
    <li>Skill - 2: Skill Name</li>
    <li>Skill - 3: Skill Name</li>
    <li>Skill - 4: Skill Name</li>
    <li>Skill - 5: Skill Name</li>
  </ul>
</div>
  </div>
</div>

{% endblock %}